.App {
  text-align: center;
}

.App-header {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #464444;
  background: url('/images/11.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 4px;
  background-color: hsla(72, 100%, 93%, 0.3);
  background-blend-mode: overlay;
}

.App-link {
  color: #61dafb;
}
